astropy
bandit
black
black[jupyter]
bs4
cartopy
coverage
coveralls
flake8
flask
folium
forex_python
geojsoncontour
geonetworkx
geopandas
gtfs_kit
h3
haversine
isort
ipfn
ipywidgets
lonboard
mapclassify
matplotlib
mesa
movingpandas
networkx
numpy
pandas
pyproj
pyrosm
pytest
pytest-cov
requests
shapely
tobler >= 0.11.2
us
werkzeug
