astropy
bandit
black
bs4
cartopy
coverage
coveralls
flake8
flask
folium
forex_python
geojsoncontour
geonetworkx
geopandas
gtfs_kit
ipfn
ipywidgets
matplotlib
mesa
movingpandas
networkx
numpy==1.23.5
pandas==1.5.3
pyproj
pyrosm
pytest
pytest-cov
requests
shapely
us
werkzeug
