ipykernel
nbsphinx

cartopy==0.19.0.post1
astropy
bandit
black
bs4
coveralls
flake8
flask
folium
geojsoncontour
geonetworkx
geopandas
gtfs_kit
ipfn
matplotlib
mesa
movingpandas
networkx
numpy
pandas
pyproj
pyrosm
pytest
pytest-cov
requests
shapely
us
werkzeug
