ipykernel
nbsphinx

astropy
bandit
black
black[jupyter]
bs4
cartopy
coverage
coveralls
flake8
flask
folium
forex_python
geojsoncontour
geonetworkx
geopandas
gtfs_kit
haversine
isort
ipfn
ipywidgets
matplotlib
mesa
movingpandas
networkx
numpy
pandas
pyproj
pyrosm
pytest
pytest-cov
requests
shapely
us
werkzeug
