ipykernel
nbsphinx

astropy
black
bs4
contextily
coveralls
flask
folium
geonetworkx
geopandas
gtfs_kit
haversine
ipfn
matplotlib
mesa
movingpandas
mplleaflet
networkx
numpy
pandas
polyline
pyproj
pyrosm
pytest
pytest-cov
requests
shapely
us
werkzeug
